<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="productForm" (ngSubmit)="handleFormSubmit()">

                <div class="form-outline mb-4">
                
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                  formControlName="yourName" />
                  <div
                  id="yourNameHelp"
                  *ngIf="
                    productForm.controls['yourName'].touched &&
                    productForm.controls['yourName'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="productForm.controls['yourName'].errors?.['required']"
                    >This field is required</small
                  >
                  
                </div>
                </div>

                <div class="form-outline mb-4">
                  
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"  formControlName="yourEmail"/>
                  <div
                  id="yourEmailHelp"
                  *ngIf="
                    productForm.controls['yourEmail'].touched &&
                    productForm.controls['yourEmail'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="productForm.controls['yourEmail'].errors?.['required']"
                    >This field is required</small
                  >
                  <small *ngIf="productForm.controls['yourEmail'].errors?.['pattern']"
                  >must enter vaild email</small
                >
                  
                </div>

                </div>
                <div class="form-outline mb-4">
                    
                    <label class="form-label" for="form3Example1cg">user Name</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"  formControlName="userName" />
                    <div
                    id="usernameHelp"
                    *ngIf="
                      productForm.controls['userName'].touched &&
                      productForm.controls['userName'].invalid
                    "
                    class="form-text text-danger"
                  >
                    <small *ngIf="productForm.controls['userName'].errors?.['required']"
                      >This field is required</small
                    >
                    <small *ngIf="productForm.controls['userName'].errors?.['pattern']"
                    >must enter vaild username</small
                  >
                  </div>
                  </div>

                <div class="form-outline mb-4">
                  
                  <label class="form-label" for="form3Example4cg">Password</label>
                 <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password" />
                 <div
                 id="passwordHelp"
                 *ngIf="
                   productForm.controls['password'].touched &&
                   productForm.controls['password'].invalid
                 "
                 class="form-text text-danger"
               >
                 <small *ngIf="productForm.controls['password'].errors?.['required']"
                   >This field is required</small
                 >
                 <small *ngIf="productForm.controls['password'].errors?.['minlength']"
                 >password length not less 
                 than 8 characters</small
               >
                 <small *ngIf="productForm.controls['password'].errors?.['pattern']"
                 >must enter vaild email</small
               >
               </div>
                </div>

                <div class="form-outline mb-4">
                 
                  <label class="form-label" for="form3Example4cdg">Confirm your password</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" formControlName="confpassword" />
                  <div
                  id="confpasswordHelp"
                  *ngIf="
                    productForm.controls['confpassword'].touched &&
                    productForm.controls['confpassword'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="productForm.controls['confpassword'].errors?.['required']"
                    >This field is required</small
                  >
                  <small *ngIf="passwordMatchError()">
                    Password does not match
                  </small>
                
                </div>

                </div>

                

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [routerLink]="['']">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a [routerLink]="['/login']"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
